<h2>Create a new task</h2>

<% form_for @task do |f| %>
  <fieldset>
    <div class="ctrlHolder">  
      <%= f.label 'description' %> <br />
      <%= f.text_field 'description' %>
    </div>

    <div class="ctrlHolder">
      <%= f.label 'expected' %> <br />
      <%= f.text_field 'expected' %>
    </div>
  </fieldset>

  <div class="ctrlHolder">
    <%= f.submit "Save" %>
  </div>
<% end %>
